.accountHolder {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 30px;
    justify-content: center;
    @media only screen and (max-width: 1120px) {
        flex-direction: column;
    }
    padding-top: 30px;
}

.infoSection {
    @media only screen and (min-width: 1120px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.accountSection {
    @media only screen and (min-width: 1120px) {
        padding-left: 30px;
        padding-right: 30px;
    }
    display: flex;
    align-items: center;
    justify-content: center;   
}

.bright-purple {
    color: #CC5DE8;
}

.accountHeader {
    margin-top: 5px;
    margin-bottom: 0px;
}

.accountSubheader {
    font-size: 18px;
    color: rgb(200, 200, 200);
    margin-top: 0px;
    margin-bottom: 0px;
}

.accountList {
    text-align: left;
    font-size: 16px;
    color: rgb(144, 146, 150);
    margin-top: 0px;
    margin-bottom: 0px;
}

.accountListItem {
    margin-bottom: 10px;
}

.accountImage {
    width: 125px;
    height: 125px;
    object-fit: contain;
}

.form {
    width: 460px;
    text-align: left;
}

.verticalRule2 {
    border-left: 1px solid rgb(55, 58, 64);
    height: 70vh;
    margin-left: 2vw;
    margin-right: 2vw;

    @media only screen and (max-width: 1120px) {
        visibility: hidden;
        height: 0vh;
    }
}