.ConclusionHolder {
    width: 100%;
}

.ConclusionBanner {
    background: #845EF7;
    background: linear-gradient(to right, #6f4fcf 0%, #a94dc0 65%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    padding-top: 70px;
    padding-bottom: 70px;
    border-radius: 50px;
}

.ConclusionTitle {
    font-size: 30px;
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 0;
}

.ConclusionSubtitle {
    font-size: 22px;
    color: rgb(230, 230, 230);
    padding-bottom: 10px;
    text-wrap: balance;
}

.ConclusionText {
    font-size: 18px;
    color: rgb(230, 230, 230);
    text-wrap: balance;
    line-height: 1.5;
    padding-bottom: 1rem;
    max-width: 70ch;
}

@media only screen and (min-width: 768px) {
    .ConclusionTitle {
        font-size: 48px;
    }

    .ConclusionSubtitle {
        font-size: 24px;
    }

    .ConclusionText {
        font-size: 20px;
    }
}