.ConclusionHolder {
    padding-left: 10vw;
    padding-right: 10vw;
}

.ConclusionBanner {
    width: 100%;
    background: #845EF7;
    background: linear-gradient(to right, #845EF7 0%, #CC5DE8 65%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    padding-left: 10vw;
    padding-right: 10vw;
    border-radius: 50px;
}

.ConclusionTitle {
    font-size: 40px;
    color: rgb(255, 255, 255);
    margin-top: 0;
    margin-bottom: 0;
}

.ConclusionSubtitle {
    font-size: 28px;
    color: rgb(230, 230, 230);
    padding-bottom: 30px;
}

.ConclusionText {
    font-size: 18px;
    color: rgb(230, 230, 230);
    margin-bottom: 30px;
}