.countdown {
    width: auto;
    max-width: 500px;
    background-color: rgb(26, 27, 30);
    text-align: left;
    border: 1px solid rgb(54, 58, 64);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.countdownContainer {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.numGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigNum {
    color: rgb(255, 255, 255);
    font-size: 48px;
}

.smallDesc {
    color: rgb(144, 146, 150);
    font-size: 16px;
}