.eventCard {
    width: 400px;
    background-color: rgb(26, 27, 30);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.eventCard.center {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 30px;
}

.eventCardHeader {
    display: flex;
    justify-content: space-between;
}

.buttonRowStyle {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.buttonStyle {
    flex-grow: 1;
}