.rowStyle {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 30px;
    align-items: flex-start;
}

.formationContainer {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    justify-content: center;

    @media only screen and (max-width: 900px) {
        flex-wrap: wrap;
    }
}

.formationTools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.formationDisplay {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @media only screen and (min-width: 900px) {
        max-width: 60%;
    }
    @media only screen and (max-width: 900px) {
        margin-top: 40px;
    }
}

.formationDisplayTitle {
    font-size: 18px;
    color: rgb(200, 200, 200);
    padding-bottom: 30px;
}

.formationHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
    padding-top: 10px; /*Change later to align top*/

    @media only screen and (min-width: 900px) {
        max-height: 700px;
        overflow-y: scroll;
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }
}

.verticalRule {
    border-left: 1px solid rgb(55, 58, 64);
    height: 800px;
    margin-left: 2vw;
    margin-right: 2vw;

    @media only screen and (max-width: 900px) {
        visibility: hidden;
        height: 0;
        width: 0;
        margin: 0;
    }
}