.formationContainer {
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    justify-content: center;

    @media only screen and (max-width: 900px) {
        flex-wrap: wrap;
    }
}

.formationTools {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    @media only screen and (min-width: 900px) {
        border-right: 1px solid rgb(55, 58, 64);
        padding-right: 2vw;
    }
}

.formationDisplay {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    @media only screen and (min-width: 900px) {
        max-width: 60%;
        padding-left: 2vw;
    }

    @media only screen and (max-width: 900px) {
        margin-top: 40px;
    }
}

.formationDisplayTitle {
    font-size: 18px;
    color: rgb(200, 200, 200);
    padding-bottom: 30px;
}

.formationHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;

    @media only screen and (min-width: 900px) {
        max-height: 700px;
        overflow-y: scroll;
        -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
        mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
    }
}