.homeHeader {
  width: 100%;
  height: 94vh;
  align-items: center;
  text-align: center;
  display: flex;
  overflow: hidden;
  padding-bottom: 4vh;
  background-color:rgb(9, 9, 11);
background-image:
radial-gradient(at 40% 60%, rgb(39, 5, 45) 0px, transparent 50%),
radial-gradient(at 65% 40%, rgb(45, 0, 30) 0px, transparent 50%);
}

@keyframes slide-right {
  0% {
    transform: translateX(-3vw);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(3vw) scale(0.95);
    opacity: 0;
    rotate: -5deg;
  }

  30% {
    transform: translateX(3vw) scale(0.95);
    opacity: 0;
    rotate: -3.5deg;
  }

  100% {
    transform: translateX(0) scale(0.95);
    opacity: 1;
    rotate: 0deg;
  }
}

.homeInfo {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 15vw;
  gap: 20px;
  animation: 0.7s ease 0s 1 slide-right;

}

.homeSubtitle {
  font-size: 28px;
  color: #845EF7;
}

.homeTitle {
  font-size: 68px;
  line-height: 72px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
}

.homeDescription {
  font-size: 18px;
  margin-bottom: 20px;
  color: rgb(170, 173, 177);
}

.homeTitleEmphasis {
  background: #845EF7;
  background: linear-gradient(to right, #845EF7 0%, #CC5DE8 65%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.homeButton:hover {
  filter: brightness(0.8);
}

.homeImage {
  margin-right: 10vw;
  animation: breathing 10s ease 1.1s infinite normal, 1.1s ease 0s 1 slide-left;
}

@keyframes breathing {
  0% {
    transform: scale(0.95);
    rotate: 0deg;
  }

  50% {
    transform: scale(1);
    rotate: 10deg;
  }

  100% {
    transform: scale(0.95);
    rotate: 0deg;
  }
}

.buttonGroup {
  display: flex;
  gap: 24px;
}