@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

body {
  background-color: rgb(9, 9, 11);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgb(250, 250, 250);
  font-family: "Roboto", sans-serif;
}

::selection {
  background: #CC5DE8;
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(255, 255, 255);
}

::-moz-selection {
  background: #CC5DE8;
  color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgb(255, 255, 255);
}

html {
  scroll-behavior: smooth;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  color: rgb(200, 200, 200);
}

h3 {
  font-size: 18px;
  color: rgb(193, 194, 197);
  margin-top: 0;
  margin-bottom: 0;
}

h3.highlight {
  color: rgb(251, 176, 59);
}

p {
  font-size: 16px;
  color: rgb(144, 146, 150);
  margin-top: 0;
  margin-bottom: 0;
}

li {
  font-size: 16px;
  color: rgb(144, 146, 150);
  margin-top: 0;
  margin-bottom: 0;
}

p.small {
  font-size: 14px;
}

.purple {
  color: rgb(39, 0, 47);
}

.light-purple {
  color: #EDD7FF;
}

.nowrap {
  white-space: nowrap;
}

.hidden {
  visibility: hidden;
}

.noLine {
  text-decoration-line: none;
}