.judgesBanner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1rem;
    padding-bottom: 50px;
    padding-top: 70px;
}

.judgesHolder {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.minimized {
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 90%);
    height: 450px;
    overflow-y: hidden;
    margin-bottom: -60px;
}

.expanded {
    
}

.judgeOverview {
    font-size: 18px;
    color: rgb(150, 152, 155);
    text-align: center;
    text-wrap: pretty;
    max-width: 70ch;
}