.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    text-align: center;
    width: 100%;
}

.formBox {
    width: 100%;
    padding-top: 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
    
}

.formStepper {
    flex-grow: 1;
    max-width: 200px;
}

.formQuestions {
    flex-grow: 1;
    min-width: 250px;
    max-width: 500px;
}

.verticalRule4 {
    border-left: 1px solid rgb(55, 58, 64);
    height: 300px;
    margin-left: 2vw;
    margin-right: 2vw;

    @media only screen and (max-width: 630px) {
        visibility: hidden;
        height: 0vh;
    }
}