.scheduleItem {
    background-color: rgb(26, 27, 30);
    border: 1px solid rgb(55, 58, 64);
    height: 60px;
    display: flex;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
    align-items: center;
}

.scheduleItemDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.scheduleItemImageContainer {
    display: flex;
    gap: 10px;
}

.scheduleItemButton {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}

.scheduleItemImage {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    object-fit: contain;
}

.scheduleItemImage:hover {
    filter: brightness(1.1);
}