.schedule {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    @media only screen and (min-width: 1100px) {
        padding-left: 2vw;
        padding-right: 2vw;
    }

    @media only screen and (max-width: 1100px) {
        flex-direction: column;
        align-items: center;
        gap: 60px;
    }
}

.scheduleAside {
    width: 30%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media only screen and (min-width: 1100px) {
        border-right: 1px solid rgb(55, 58, 64);
        padding-right: 2vw;
    }
}

.scheduleMain {
    width: 60%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    @media only screen and (min-width: 1100px) {
        padding-left: 2vw;
    }
}

.eventContainer {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.scheduleContainer {
    width: 100%;
    height: 350px;
}

.scheduleContainer2 {
    height: 350px;
}
