.teamPage {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    @media only screen and (max-width: 1300px) {
        flex-direction: column;
    }
}

.teamMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media only screen and (min-width: 1300px) {
        padding-right: 2vw;
    }
}

.teamAside {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    @media only screen and (min-width: 1300px) {
        border-left: 1px solid rgb(55, 58, 64);
        padding-left: 2vw;
    }
}

.teamBox {
    background-color: rgb(26, 27, 30);
    border: 1px solid rgb(55, 58, 64);
    border-radius: 12px;
    padding: 20px;
}

.teamBox.info {
    width: 750px;
}

.infoHeader {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.infoContainer {
    background-color: rgb(26, 27, 30);
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid rgb(55, 58, 64);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10px;
}

.infoButtonGroup {
    display: flex;
    gap: 15px;
}

.importantText {
    color: rgb(230, 230, 230);
    font-size: 16px;
}

.teamBox.member {
    width: 500px;
}

.teamBox.declaration {
    width: 750px;
}

.teamBox.submit {
    width: 750px;
}

.teamBox.invite {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.searchBox {
    margin-top: 20px;
    margin-bottom: 20px;
}

.teamBox.request {
    width: 500px;
}

.requestHolder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    align-items: center;
    width: 100%;
}

.nameHolder {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.joinedButtonGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.confirmButtonStyle {
    flex-grow: 1;
}

.joinButton {
    background-color: rgb(26, 27, 30);
    width: 25%;
}

.joinButton.selected {
    background-color: rgb(55, 58, 64);
}

.checkboxLine {
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.confirmation {
    color: #8CE99A;
}

.nativeRow {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    width: 100%;
}

.nativeSelectItem {
    width: 50%;
}

.modalGap {
    display: flex;
    flex-direction: column;
    gap: 10px;
}