.cardStyle {
    max-width: 250px;
    background-color: rgb(26, 27, 30);
    text-align: left;
    border: 1px solid rgb(54, 58, 64);
    border-radius: 10px;
    padding: 20px;
    transition: all linear 0.2s;
}

.cardStyle.gold {
    border: 1px solid rgb(251, 176, 59);
}

.buttonRowStyle {
    display: flex;
}

.buttonStyle {
    flex-grow: 1;
    font-size: 10px;
}

.buttonStyle.row {
    width: 45%;
}

.nameStyle {
    background-color: rgb(16, 17,20);
    border-top: 1px solid rgb(54, 58, 64);
    border-bottom: 1px solid rgb(54, 58, 64);
    margin-top: 10px;
    padding: 10px;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    gap: 10px;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.nameStyle::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
}

.nameBadge {
    overflow: visible;
    white-space: nowrap;
    font-size: 10px;
}

.badgeHolder {
    background-color: rgb(16, 17, 20);
}

.starStyle {
    color: rgb(251, 176, 59);
    margin-right: 20px;
    min-width: 18px;
}

.titleStyle {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
}

.badgeStyle {
    margin-left: auto;
    overflow: visible;
    width: auto;
    white-space: nowrap;
}

.cardTitle {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 10px;
}

.cardDescription {
    overflow: hidden;
    text-overflow: ellipsis;
    text-wrap: pretty;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.memberList {
    margin-top: 0;
}

@media only screen and (min-width: 768px) {
    .nameBadge {
        font-size: 12px;
    }
}

@media only screen and (min-width: 426px) {
    .cardStyle {
        max-width: 400px;
    }

    .buttonStyle {
        font-size: 14px;
    }
}