.toolbar {
    position: relative;
    top: -40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.toolbarBox {
    background-color: rgba(55, 58, 64, 0.4);
    border: 2px solid rgb(55, 58, 64);
    backdrop-filter: blur(6px);
    border-radius: 12px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.toolbarBox.randomize {
    width: 210px;
}

.toolbarBox.randomize:hover {
    background-color: rgba(55, 58, 64, 0.6);
}

.toolbarBox.randomize:hover .toolbarIconBox {
    background-color: rgb(55, 58, 64);
}

.toolbarBox.pagination {
    width: 380px;
}

.toolbarBox.teamCount {
    width: 240px;
}

.toolbarIconBox {
    background-color: rgb(37, 38, 43);
    border: 1px solid rgb(55, 58, 64);
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    padding-left: 16px;
    padding-right: 16px;
}

.toolbarText {
    color: rgb(230, 230, 230);
}