.tracksHeader {
    width: 100%;
    background-color: #EDD7FF;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.trackSection {
    padding-top: 50px;
    padding-bottom: 60px;
}

.tracksDescription {
    padding-bottom: 40px;
    font-size: 18px;
    color: rgb(39, 0, 47);
    margin-left: 14vw;
    margin-right: 14vw;
}

.tracksHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding-left: 8vw;
    padding-right: 8vw;
}

.teamHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 5vw;
    justify-content: center;
    padding-left: 8vw;
    padding-right: 8vw;
    padding-bottom: 10px;
}

.mockTeamCard {
    transition: 0.5s;
}

.mockTeamCard:hover {
    scale: 105%;
}

.illustration {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.illustrationContainer {
    width: 300px;
}

.illustrationContainer2 {
    max-width: 1150px;
}