.trackCard {
    width: 250px;
    height: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: 1px solid rgb(39, 0, 47);
    color: rgb(39, 0, 47);
    border-radius: 20px;
    padding: 30px;
    text-align: left;
    text-wrap: pretty;
    transition: 0.5s;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.trackCard.active {
    background-color: rgb(39, 0, 47);
    scale: 105%;
}

@media only screen and (min-width: 768px) {
    .trackCard {
        width: 400px;
        height: auto;
        min-height: 210px;
    }
}