.tracksHeader {
    width: 100%;
    background-color: #EDD7FF;
    justify-content: center;
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.trackSection {
    padding-top: 50px;
    padding-bottom: 60px;
}

.centeredText {
    display: flex;
    justify-content: center;
}

.tracksDescription {
    padding-bottom: 40px;
    padding-right: 1rem;
    padding-left: 1rem;
    font-size: 18px;
    max-width: 70ch;
    text-align: center;
    color: rgb(39, 0, 47);
}
    
.teamHolder {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: center;
    padding-bottom: 10px;
}

.mockTeamCard {
    transition: transform 0.2s ease-out !important; /* Overwrite AOS transition animation */
    transform: scale(1);
}

.mockTeamCard:hover {
    transform: scale(1.05) !important; /* Overwrite AOS transition animation */
}

.illustration {
    width: 100%;
    height: 100%;
    object-fit: contain;
    padding-left: 40px;
    padding-right: 40px;
}

.illustrationContainer2 {
    max-width: 1150px;
}

.disappear {
    @media only screen and (max-width: 1400px) {
        display: none;
    }
}

@media only screen and (min-width: 1400px) {
    .illustrationContainer {
        width: 300px;
    }
    .illustrationContainer2 {
        max-width: 1150px;
    }
}

.illustration.mobile {
    max-width: 500px;
}

@media only screen and (max-width: 900px) {
    .illustration.laptop {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
    }
}
@media only screen and (min-width: 900px) {
    .illustration.mobile {
        visibility: hidden;
        width: 0;
        height: 0;
        padding: 0;
    }
}