.user {
    width: 40px;
    height: 40px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
}

.user:hover {
    border: 1px solid rgb(150, 152, 155);
    color: rgb(150, 152, 155);
}

.userImage {
    font-size: 20px;
}
